[2013-02-12 08:31] postmodern opened #1 "url: should it point to any advisory or the original advisory?"

[2013-02-12 08:32] postmodern opened #2 "include advisory IDs?"
The advisory files may be copied or renamed. Perhaps we should include CVE / OSVDB IDs in the YAML? This could also be used to derive CVE / OSVDB URLs.

[2013-02-12 08:33] postmodern opened #3 "Add a CONTRIBUTING.md file"
Add a CONTRIBUTING.md for people who want to add advisories.

[2013-02-12 15:25] olly opened #4 "Add non affected versions?"
Should a `non_affected_versions` attribute be added?

For example [2012-2661.yml](https://github.com/rubysec/ruby-advisory-db/blob/master/rails/2012-2661.yml) doesn't affect Rails v2.3. This would allow an automated tool to look over a Gemfile and work out whether any advisories affect your gems.

[2013-02-12 15:42] mveytsman opened #5 "Export a feed"
We were talking about automating the process of generating a feed from this data automatically.

@phillmv you were saying we can use github-pages for this?

[2013-02-12 18:07] mveytsman opened #6 "Rails vulnerabilities actually affect its components"
Some of the rails vulnerabilities actually affect rails components that can be used outside of rails.  For instance, CVE-2013-0156 is a vulnerability with action_pack which can be used with any Rack application, not just rails.

What's the best way to re-categorize these?

[2013-02-12 18:16] mveytsman opened #7 "Vulnerabilities without CVE IDs"
Some vulnerabilities don't have a CVE associated with them
- omniauth-oauth2 https://github.com/intridea/omniauth-oauth2/pull/25
- newrelic_rpm https://newrelic.com/docs/ruby/ruby-agent-security-notification
- nori https://github.com/savonrb/nori/commit/818f5263b1d597b603d46cbe1702cd2717259e32 (related to 2013-0156)

So,
1. We should get some CVEs issued for these, and get them up on OSVDB
2. To m

[2013-02-13 01:52] #6 closed, assigned to nobody

[2013-02-13 03:41] #5 closed, assigned to nobody

[2013-02-15 04:39] postmodern opened #10 "Rename to ruby-vuln-db"
Rename to `ruby-vuln-db`, to avoid confusing this Database with a place to report Advisories. Thoughts?

[2013-02-16 02:42] #10 closed, assigned to postmodern

[2013-02-18 06:02] postmodern opened #12 "Add workarounds section"
We should add a `workarounds:` text section, for when there is no upgrade or the developers cannot upgrade.

[2013-02-19 04:41] postmodern opened #13 "Make (PGP signed) tags when adding a new advisory to the DB"
To counter people's fears of malicious YAML somehow getting into the DB (an attacker compromises our GitHub account or ssh keys), we should consider adding PGP signed tags for when a new advisory is added to the DB. This would allow consumers of the DB to update to the latest tag and verify it (`git tag -v $TAG`).

[2013-02-19 07:45] #13 closed, assigned to nobody

[2013-02-20 03:41] mveytsman opened #14 "Add common_dependency_of field"
We moved all the rails vulns to the respective gems (actionpack, activerecord, etc), but from the user's perspective it would be nice if our tools detect that they have rails and tell them that rails is what they should upgrade.

We could add a field to communicate that.

[2013-02-20 05:04] postmodern opened #15 "Change `url:` to point to the original Advisory and add `osvdb:`"
Change `url:` to point to the original Advisory. Also add a `osvdb:` field.

[2013-02-20 06:21] #15 closed, assigned to nobody

[2013-02-20 09:00] postmodern opened #16 "Rename all existing files to CVE-XXXX-XXX.yml"
To avoid confusion, all files should have a `CVE-` prefix. This also allows us to add advisories when no CVE exists yet (instead using a vendor specific advisory ID).

[2013-02-20 09:03] postmodern opened #17 "Add classification information"
It would be nice if we imported some (maybe not all) of the classification information for advisories. This would provide the user with a more detailed breakdown of the advisory, than say CVSSv2 score.
## Example

[code]

[2013-02-20 09:07] postmodern opened #18 "replace cve with advisories"
Replace `cve:` with `advisories:`, containing fully qualified advisory IDs. This allows us to list multiple advisory IDs per advisory. By switching to Fully Qualified Advisory IDs, we prevent people from mistakenly importing `cve: 2013-0123` as `2013-0123` into some Database.
## Example

[code]

[2013-02-20 23:01] #12 closed, assigned to postmodern

[2013-02-21 03:30] #1 closed, assigned to nobody

[2013-02-21 03:58] Osseta opened #19 "More detailed recording of affected versions of gems"
Does the database need to have a more detailed recording of affected version numbers.

for example the CVE-2013-0284 for newrelic_rpm gem has the configuration:

[code]

However the vulnerability only affects versions 3.2.0 -> 3.5.2.
Someone with a newrelic_rpm gem version prior to 3.2.0 is not affected by the vulnerability.

Perhaps as well as the patched_versions it is necessary to record the af

[2013-02-21 04:25] #19 closed, assigned to nobody

[2013-02-21 07:39] #4 closed, assigned to nobody

[2013-02-21 18:51] pietro opened #20 "List vulnerabilities on ruby versions/implementations?"
Should we list vulnerabilities on ruby versions/implementations? If so, how?

[2013-02-26 05:48] brynary opened #21 "Add LICENSE information"
It would be good to include a LICENSE file clarifying the intended license for the data in the repo. I had someone ask me today about contributing, but wanted to ensure they would be contributing to a properly licensed OSS project so their contributions would always be able to be re-used.

MIT?

[2013-02-27 20:42] #2 closed, assigned to nobody

[2013-02-27 21:12] #21 closed, assigned to nobody

[2013-02-27 21:13] #14 closed, assigned to nobody

[2013-03-02 01:15] #7 closed, assigned to nobody

[2013-03-02 01:16] postmodern opened #23 "Add advisory for extlib <= 0.9.15"
- https://support.cloud.engineyard.com/entries/22915701-january-14-2013-security-vulnerabilities-httparty-extlib-crack-nori-update-these-gems-immediately
- http://direct.osvdb.org/show/osvdb/90740

Still needs a CVE.

[2013-03-02 01:20] postmodern opened #24 "Add advisory for httparty <= 0.9.0"
- https://support.cloud.engineyard.com/entries/22915701-january-14-2013-security-vulnerabilities-httparty-extlib-crack-nori-update-these-gems-immediately
- http://direct.osvdb.org/show/osvdb/90741

Needs a CVE first.

[2013-03-02 01:21] postmodern opened #25 "Add advisory for crack <= 0.3.1"
- https://support.cloud.engineyard.com/entries/22915701-january-14-2013-security-vulnerabilities-httparty-extlib-crack-nori-update-these-gems-immediately
- http://direct.osvdb.org/show/osvdb/90742

Needs a CVE first.

[2013-03-02 07:24] postmodern opened #26 "Add advisory for ftpd <= 0.2.1"
- http://otiose.dhs.org/advisories/ftp-0.2.1-remote-exec.html
- http://osvdb.org/show/osvdb/90784

[2013-03-02 07:30] postmodern opened #27 "Add advisories for fileutils <= 0.7"
- http://osvdb.org/show/osvdb/90718
- http://osvdb.org/show/osvdb/90716
- http://osvdb.org/show/osvdb/90717
- http://osvdb.org/show/osvdb/90715

[2013-03-02 07:33] #3 closed, assigned to postmodern

[2013-03-02 17:23] vaneyckt opened #28 "Possible misuse of ~> operator?"
Heya,

The file at https://github.com/rubysec/ruby-advisory-db/blob/master/gems/actionpack/2012-3424.yml reports the following patched versions:
- ~> 3.0.16
- ~> 3.1.7
- ">= 3.2.7"

Whereas http://www.osvdb.org/show/osvdb/84243 lists the patched versions as:
- 3.0.16
- 3.1.7
- ">= 3.2.7"

The use of the spermy operator seems wrong here (and in other places as well). Is this intentional or am I mis

[2013-03-03 03:10] #28 closed, assigned to nobody

[2013-03-05 22:50] brynary opened #29 "Add date to advisories"
Thought: Would it be beneficial to have a date of first known disclosure associated with advisories? This may be different from an OSVDB date, right?

[2013-03-06 05:57] #23 closed, assigned to nobody

[2013-03-06 06:00] #24 closed, assigned to nobody

[2013-03-06 06:02] #25 closed, assigned to nobody

[2013-03-07 17:55] brynary opened #30 "Add Loofah XSS vulnerability"
https://groups.google.com/forum/?fromgroups=#!searchin/nokogiri-talk/vulnerability/nokogiri-talk/PZK-KcxC_gE/EmB7DFYGGp8J

[2013-03-07 17:58] brynary opened #31 "Add Nokogiri XXE vulnerability"
https://github.com/sparklemotion/nokogiri/issues/693

Network vulnerability fixed in Nokogiri v1.5.4:

http://www.ruby-forum.com/topic/4402659

Not sure when local filesystem vulnerability was fixed.

[2013-03-08 20:56] mveytsman opened #32 "Multiple vulnerabilities in Spree"
http://spreecommerce.com/blog/multiple-security-vulnerabilities-fixed

[2013-03-15 07:49] tarcieri opened #33 "ruby-doc.org does not link to ruby-advisory-db"
If you visit:

http://www.ruby-doc.org/

You will see:

"There was 1 Ruby vulnerability reports in the last 14 days. 1 undetermined. Most recent: CVE-2013-1656. [See details](http://web.nvd.nist.gov/view/vuln/search-results?query=Ruby&search_type=last3months&cves=on)."

You are presented with a friendly reminder of recent Ruby security vulnerabilities! Seems good!

PROBLEM: this goes to http://web

[2013-03-18 02:07] brynary opened #34 "Add bcrypt-ruby advisory (JRuby only)"
https://github.com/codahale/bcrypt-ruby states:

http://www.mindrot.org/files/jBCrypt/internat.adv

[2013-03-18 18:58] #26 closed, assigned to nobody

[2013-03-18 19:23] #16 closed, assigned to postmodern

[2013-04-01 22:15] #18 closed, assigned to postmodern

[2013-04-01 22:30] #29 closed, assigned to nobody

[2013-04-01 22:32] #17 closed, assigned to postmodern

[2013-04-01 22:41] #30 closed, assigned to nobody

[2013-04-01 23:43] mveytsman opened #35 "Switch away from CVE-ID as primary id."
I've updated all the advisodies with OSVDB IDs. We now have one advisory in the database (loofah/OSVDB-90945.yml) and several vulnerabilities in the queue that have OSVDB IDs but not CVE IDs. Based on Jericho's comments in the mailing list that is going to continue to be the case.

Would it make sense to switch to OSVDB as the canonical ID?

Alternatively we can implement a RUBYSEC-XXXX ID scheme.

[2013-04-02 03:26] #35 closed, assigned to nobody

[2013-05-19 16:04] #27 closed, assigned to nobody

[2013-08-03 20:51] brynary opened #42 "Add redis-namespace `exec` issue"
Just discovered today:

https://github.com/resque/redis-namespace/commit/6d839515e8a3fdc17b5fb391500fda3f919689d6

-Bryan

[2013-08-04 13:33] skorth opened #43 "CSRF token fixation attacks in Devise"
Hey there. Is this something that needs to be added in some way, or is it nonrelevant?

http://blog.plataformatec.com.br/2013/08/csrf-token-fixation-attacks-in-devise/

[2013-08-23 19:37] postmodern opened #46 "Add an API for the ruby-advisory-db"
Add an API for interacting with the database.
- Searching for advisories by CVE or gem.
- Testing if a `Gem::Version` is vulnerable.
- Downloading and updating a copy of the database.

[2013-12-12 03:20] bf4 opened #64 "Add how to report vulnerabilities"

[2013-12-12 05:11] #64 closed, assigned to nobody

[2014-01-17 21:16] #42 closed, assigned to nobody

[2014-10-27 12:26] skorth opened #106 "Question about unused file"
Sorry if i have to add an issue for this question, but what exactly does the file "#CVE-2012-3424.yml#" do (commit: https://github.com/rubysec/ruby-advisory-db/commit/da3fd5cf1cc359b02d7f9bdbd5549deeb57890e1)?

[2014-10-28 19:49] #106 closed, assigned to nobody

[2014-11-17 21:55] #43 closed, assigned to nobody

[2015-02-17 19:51] grosser opened #125 "missing rack-ssl"
http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-2538

not sure how this slipped by, but would be nice to have some automated tools to catch these

[2015-02-17 19:58] skorth commented on #125
Hey, there is already an issue about that https://github.com/rubysec/ruby-advisory-db/pull/90

[2015-02-17 21:01] #125 closed

[2015-03-03 08:32] skorth opened #130 "Infinite loop calling to_json on ActiveModel::Name"
Do we add an advisory on this?

http://osvdb.org/show/osvdb/118954
https://github.com/rails/rails/pull/19055
https://github.com/rails/rails/issues/19050

[2015-03-05 08:24] skorth opened #132 "Spree Ruby Gem (Security Fix for all Spree Versions)"
"A vulnerability in the API was discovered which could allow an attacker to commit CSRF gaining access to private information." https://spreecommerce.com/blog/security-updates-2015-3-3

I didn't found any official identifier.

[2015-03-05 15:17] phillmv commented on #132
Hrm. @postmodern what are your feels re: waiting for an osvdb or cve? If Egor reported it, surely that'll follow.

[2015-03-05 22:44] postmodern commented on #132
Yes, OSVDB at the bare minimum. I'm surprised OSVDB hasn't already created a report for it.

[2015-03-06 15:15] skorth commented on #130
corresponding oss-security entry http://www.openwall.com/lists/oss-security/2015/03/06/7

[2015-03-07 00:17] postmodern commented on #130
Yep, it's a DoS vulnerability.

[2015-03-07 02:43] postmodern commented on #132
Finally! http://osvdb.org/show/osvdb/119205

[2015-03-07 13:01] matthewd commented on #130
[Is it?](https://twitter.com/bitsweat/status/573985749839691777)

At a first look, I don't see the angle... but if there is an actual danger (read: a means by which an attacker could inject an `AM::Name` into code that doesn't normally see one, and thus might call `to_json`), I'd love to hear about it: security@rubyonrails.org

[2015-03-08 21:28] jeremyolliver commented on #130
I think the possibility of DDoS is just assumed due to the presence of an infinite looping behaviour - rather than any particular method to coerce an app to actually trigger the bug.

[2015-03-09 16:44] thesp0nge opened #134 "A suitable way to consume this DB"
Hi there, I really want to move [dawnscanner] (https://github.com/thesp0nge/dawnscanner) to consume this, but I'm puzzled on to do this in an elegant way since it's a very dynamic archive.

My need is that dawnscanner has to check if this archive is updated, download signatures (the YAML files) and than consume them in a review.

How do you suggest me to act? Make a clone each scan can be very ban

[2015-03-09 17:06] phillmv commented on #134
I can't speak to the behaviour exactly since I haven't read the code in a while but I believe https://github.com/rubysec/bundler-audit checks out a local copy and then pulls from it.

Thus git is responsible for keeping track of updates. I am 90% sure we copied that behaviour when we implemented our own updater.

Does that make sense?

HTH,

[2015-03-10 04:42] jeremyolliver commented on #134
Yeah, bundler audit has a git submodule to track this repo which can be updated (via git) without re-installing the gem via the command `bundle-audit update`.

[2015-03-12 13:20] #132 closed

[2015-03-27 16:38] #32 closed

[2015-03-27 18:41] phillmv opened #143 "New url policy?"
Hey folks,

So last few days I've noticed that we often offer more information than the equivalent OSVDB links we point to.

We don't want to duplicate ID efforts; clearly we should stick to OSVDB and CVE values. But given the choice between a github issue/an advisory published by the author(s)/maintainers and a sparse OSVDB, it seems like it would make more sense and be more informative to point

[2015-03-27 19:04] mveytsman commented on #143
:+1:

[2015-04-21 18:09] postmodern commented on #143
Yep, go with the authoritative advisory URL from the project, if available.

[2015-05-01 19:43] #143 closed

[2015-06-13 04:05] mveytsman opened #151 "Incorrect vulnerable versions for passenger vuln"
This vulnerability
https://github.com/rubysec/ruby-advisory-db/blob/master/gems/passenger/OSVDB-90738.yml
affects versions 4.0.0.beta1 and 4.0.0.beta2 ( see http://old.blog.phusion.nl/2013/03/05/phusion-passenger-4-0-beta-1-and-2-arbitrary-file-deletion-vulnerability/)

The current patched_versions and unaffected_versions don't cover that.

Is it possible to write the conditions that will capture

[2015-06-17 17:17] felixbuenemann opened #153 "CVE-2015-3225: Missing fix version 1.4.6"
Although the announcement didn't mention it, rack 1.4.6 also fixes the vulnerability as can be seen from the changes: https://github.com/rack/rack/commits/1.4.6

The current db entry doesn't list 1.4.6 as a fixed version.

[2015-06-17 17:25] felixbuenemann opened #154 "CVE-2015-3227: Missing fix version 3.2.22"
This CVE is also fixed in rails 3.2.22 as noted int he release notes:
http://weblog.rubyonrails.org/2015/6/16/Rails-3-2-22-4-1-11-and-4-2-2-have-been-released-and-more/

Currently 3.2.22 is missing from the list of fixed versions.

[2015-06-17 22:28] pedelman commented on #153
Can confirm.
See: https://github.com/rack/rack/issues/894

[2015-06-17 22:39] mattolson commented on #154
:+1: Please add 3.2.22 to the list of fixes

[2015-06-17 22:39] mattolson commented on #153
:+1: Please add 1.4.6 to the list of fixed versions

[2015-06-17 22:58] #153 closed

[2015-06-17 22:58] #154 closed

[2015-06-17 22:59] phillmv commented on #153
Thanks @felixbuenemann @pedelman @mattolson!

Nota bene: we also take pull requests :D :D :D

[2015-06-18 15:42] felixbuenemann commented on #153
@phillmv Thanks for the fix! :heart:

I just started using bundler-audit, so I wasn't yet familiar with the db structure and in the middle of updating lots of rails apps. I've looked at the db structure and updating it seems pretty straight forward, so I'll be happy to do PRs in the future.

[2015-06-18 18:13] postmodern commented on #151
Testing with rubygems, `<= 4.0.0` will include `4.0.0.beta`.

    dep = Gem::Requirement.new('<= 4.0.0')
    dep.satisfied_by?(Gem::Version.new('4.0.0.beta1'))
    # => true

[2015-06-18 19:19] postmodern commented on #151
From #rubygems:

    <imperator> < 4.0.0.beta

Confirmed that `< 4.0.0.beta` excludes 4.0.0, 4.0.0.beta, 4.0.0.rc, 4.0.0.beta.

[2015-06-23 17:55] #34 closed

[2015-06-23 18:35] reedloden opened #157 "Dealing with unfixed vulnerabilities in gems"
What's the best way to handle OSVDB entries / CVE assignments for ruby gems with **unfixed** vulnerabilities? Specifically, maybe a gem is obsolete / unmaintained and won't ever have a new fixed version, but we want to let people know they are using a vulnerable gem. Another case is when a gem takes too long to fix an issue, but we want to warn users so they are aware (maybe not cause a failure, b

[2015-06-23 18:42] phillmv commented on #157
Yeah. This is something we're thinking about (i.e. #151).

I think right now we're leaning towards a "vulnerable_versions" and we'll figure something out in the next week or two.

[2015-06-23 18:44] postmodern commented on #157
Currently we just omit `patched_versions` to indicate all versions are affected.

[2015-06-23 18:50] phillmv commented on #157
So, actually, Reed pointed out a bunch of scenarios.

1. There's "this version of the code is no longer going to be supported, upgrade ASAP" -> probably warrants its own kind of advisory file. i.e. "Don't use Rails 3 anymore".

Overloading the semantics of patched_versions probably not so great.

2. Then there's gems that are maintained but the person has a day job / an unmaintained gem but a vuln

[2015-06-30 21:14] reedloden opened #160 "Update rubysec.github.io on every commit"
Should use Travis CI / Circle CI to automagically update the `rubysec.github.io` repository and push changes live as new advisories are added to the `ruby-advisory-db` repository.

Right now, http://rubysec.com is woefully out of date. :(

Happy to help here if I can...

[2015-06-30 21:18] dwradcliffe commented on #160
That is an excellent idea.

[2015-06-30 21:21] skorth commented on #160
+1

[2015-06-30 21:57] reedloden commented on #160
Anything I can do to help with this, or do one of you have time to do this?

[2015-06-30 22:27] tarcieri commented on #160
:+1: :+1:  :+1:  :+1:  :+1:  :+1:  :+1:  :+1:

[2015-06-30 22:53] phillmv commented on #160
Tell me what I gotta do to enable it :D

[2015-06-30 22:54] postmodern commented on #160
How would we connect one repository to the other without leaking access? Perhaps we could move the github pages for the advisories directly into `ruby-advisory-db` and render the pages there?

[2015-06-30 23:00] phillmv commented on #160
My understanding is most CI services let you perform some action on successful test passing; whether it can run a rake task and then push a commit idk.

Moving the gh pages to this repo is one possible solution.

[2015-06-30 23:11] reedloden commented on #160
You'll have to give the CI service some form of access to either this repository or both repositories (the latter seems cleaner). You can either use one of your actual accounts or create a separate GitHub account with read/write permissions to those repositories that the CI service will get an OAuth token for.

[2015-06-30 23:14] jeremyolliver commented on #160
You can have secure content such as api keys or deploy keys, even in a public repo http://docs.travis-ci.com/user/encryption-keys/

[2015-06-30 23:15] reedloden commented on #160
Oh, I forgot GitHub added deploy keys. That would work just fine.

[2015-06-30 23:19] reedloden commented on #160
From a few Google searches:

http://awestruct.org/auto-deploy-to-github-pages/
https://gist.github.com/domenic/ec8b0fc8ab45f39403dd
https://evansosenko.com/posts/automatic-publishing-github-pages-travis-ci/
https://medium.com/@nthgergo/publishing-gh-pages-with-travis-ci-53a8270e87db

Would have to modify the stuff a bit to deal with the second repository, but pretty simple overall.

[2015-06-30 23:43] phillmv commented on #160
Kind of tight on bandwidth atm, if you give it to me as a series of numbered steps I'll set it up :+1:

[2015-07-12 22:26] mveytsman opened #164 "Merge the two sup vulnerabilities"
While https://github.com/rubysec/ruby-advisory-db/tree/master/gems/sup have different CVEs, it's the same vuln with the same fixed versions

Maybe we should merge them?

[2015-07-12 23:02] jeremyolliver commented on #164
If you check the CVE descriptions - one is for RCE via the filename, the second is for RCE via the content_type, so they are slightly different

[2015-07-15 03:42] reedloden opened #165 "Support tracking vulnerabilities in rubygems itself"
Similar to #20, would be great if vulnerabilities in `rubygems` could be tracked as part of this project. Right now, there isn't a good way to track that, and stuff gets missed. People rarely remember to upgrade `rubygems`.

[2015-07-15 10:20] reedloden commented on #160
@phillmv --- here you go!

Been a bit busy with $JOB and $LIFE, so sorry for the delay.

Looks like CircleCI is currently used for testing commits / PRs to ruby-advisory-db, but since CircleCI doesn't support some of the features we'll use below, can't use it... As such, once everything is working, you'll likely want to just remove the CircleCI integration completely, as Travis CI will be handling

[2015-07-20 00:53] reedloden commented on #164
Yeah, rather keep CVEs separate. Just ran into this with #168. Saves a lot of historical work later by tracking them separately.

[2015-07-20 01:25] reedloden commented on #31
https://github.com/rubysec/ruby-advisory-db/blob/master/gems/nokogiri/OSVDB-90946.yml was added a while ago. Does that address this? I know it's really two separate issues, but I only see the one CVE / OSVDB assignment.

[2015-07-20 01:50] reedloden opened #170 "Dealing with gem renames"
https://rubygems.org/gems/bcrypt and https://rubygems.org/gems/bcrypt-ruby are the same gem (renamed in https://github.com/codahale/bcrypt-ruby/commit/aadbef48c12ae1bd4cb989c4373da2bda110f058), but we only track vulnerabilities for the latter. Should we just duplicate the directories somehow, or what's the best way to deal with this issue?

[2015-07-20 04:09] reedloden opened #174 "Fix lib/scrape.rb to work with osvdb.org in CloudFlare's "I'm under attack" mode"
lib/scrape.rb is useless right now since http://osvdb.org is constantly in CloudFlare's "I'm under attack" mode.

Need to incorporate the use of https://github.com/Anorov/cloudflare-scrape or https://github.com/jeremyhahn/cloudflare-scraper to bypass the checks and allow the scraper to work.

Another option is to use OSVDB's [API](http://osvdb.org/api/about), but you can't seem to sign-up for it n

[2015-07-20 04:14] reedloden commented on #33
Once the site is updating via CI (coming soon!), should poke the ruby-doc.org folk again, as MITRE has been super slow to assign CVEs, which means NVD doesn't get those updates. However, we need to be diligent about getting stuff added to ruby-security-db as quickly as possible when stuff is announced.

[2015-07-20 04:18] reedloden commented on #33
Though, I suspect we'll need to handle vulns in ruby engines and rubygems as well first.

[2015-07-20 06:52] reedloden commented on #170
Found another one... https://rubygems.org/gems/fog-dragonfly was renamed to https://rubygems.org/gems/dragonfly

[2015-07-20 10:13] reedloden opened #178 "Figure out what OSVDB-96396 (activemodel vuln) is referring to"
http://osvdb.org/show/osvdb/96396 talks about a vulnerability in `activemodel`, but I can't figure out what commit it's referring to or when said vulnerability was fixed (if at all). Could use some help so I can get it added to the db.

[2015-07-21 02:21] postmodern commented on #170
When a gem is renamed, but the older versions are not re-pushed to rubygems, we should just make a new `gem/$name` directory. If the gem rename was 1:1, then maybe we should consider setting up a symlink or copying the directory?

[2015-07-21 02:27] reedloden commented on #170
Sadly, both bcrypt and dragonfly have overlapping gem versions, so I'll copy the ones over that make sense then. Can't really do a symlink, as the .yml file contains the gem name.

[2015-07-21 17:07] phillmv commented on #170
I'm fine with making copies where appropriate; programmatically we can sort it out by cve/osvdb.

[2015-07-21 18:29] reedloden commented on #170
Cool. Waiting for my latest PRs to get merged, and then I'll sort this out.

[2015-07-25 01:09] #160 closed

[2015-07-25 01:42] phillmv opened #184 "Add missing rubies advisories, if any"
per #166, to quote @jeremyolliver from what I believe are the relevant comments:

[2015-07-25 02:12] reedloden commented on #160
@phillmv, not sure what parts of the above you've done, but looks like you still need to generate a GitHub Personal Access Token, encrypt it using `travis encrypt 'GH_TOKEN=token'`, and update the `secure` field in .travis.yml with the encrypted output. This won't work until then.

[2015-07-25 02:16] phillmv commented on #160
Derp. Okay. Will put that in shortly.

[2015-07-25 12:01] jeremyolliver commented on #184
The most recent CVE I can see in the recently merged dataset is (OSVDB-100113) `CVE-2013-4164` dated 2013-11-22. Looks like there's only 7 new CVE's on https://www.ruby-lang.org/en/security/ to add at this point.

[2015-07-27 19:29] reedloden opened #186 "How to handle OS-specific issues in a gem or ruby engine"
We need a way to track operating system specific issues affecting a gem or ruby engine.

Here's one example:
- http://osvdb.org/show/osvdb/107478
- http://seclists.org/oss-sec/2014/q2/375
- https://bugs.ruby-lang.org/issues/9709

While it affects cross-platform code, seems to only be exploitable on mingw32

Separately, looks like at least one Ruby developer disputes that this a security issue, so

[2015-07-28 00:32] reedloden commented on #165
How about a top-level directory named 'rubygems'? We could overload `engine` for this, potentially... Thoughts?

[2015-07-28 01:05] mveytsman commented on #164
Thinking about this more, I disagree.

We should have a schema to track other CVEs that a vulnerability refers to, but no reason to have 2 separate rubysec vulns for this. It only leads to confusion, since in our database they look like duplicates, and no one gains any new information by seeing the two entries.

The schema should look like:

[code]

[2015-07-28 01:09] reedloden commented on #164
`other_cves` seems weird (which is the primary and which goes in other?)... any reason why not to permit `cve` to have multiple ones? In that case, what do you name the file?

[2015-07-28 01:13] mveytsman commented on #164
Agreed, it should be `cve`.

For now, for this particular file we can stick with the osvdb number.

It is high time we pick something else for file naming.

[2015-07-28 01:27] mveytsman commented on #20
Closed via #166

[2015-07-28 01:27] #20 closed

[2015-07-28 01:29] mveytsman commented on #31
I believe 90946 covers this

[2015-07-28 01:29] #31 closed

[2015-07-28 01:32] mveytsman commented on #134
It looks like @thesp0nge got something working https://github.com/thesp0nge/dawnscanner/blob/fa57547ff30566382941ce2e1f1baa6e9c5f9303/Rakefile

[2015-07-28 01:32] #134 closed

[2015-07-28 01:45] mveytsman commented on #165
Not sure if we need to overload `engine`, since all the advisories in the rubygems directory affect rubygems.

I'm for it.

[2015-07-28 01:46] mveytsman commented on #170
Looks like the discussion is resolved, closing.

[2015-07-28 01:46] #170 closed

[2015-07-28 01:47] reedloden commented on #165
I think the goal is that every .yml file can live on its own, separate from the directory structure. That way, you don't need to parse the directory name in order to understand all the information in the advisory.

I'll put together a PR with all the rubygems issues.

[2015-07-28 01:56] mveytsman commented on #178
sigh I just spent 30 minutes reading through activemodel commit logs.

... no idea.

[2015-07-28 02:02] reedloden commented on #178
I heard back from the OSVDB folk, and they said the entry was created based off of https://github.com/rails/rails/pull/8122 and https://github.com/rails/rails/commit/e8a50aa1c1f9d04c21b54e983f9a090d4b42c8eb.

[2015-07-28 03:27] reedloden commented on #165
I decided to go with a new `libraries` top-level directory with `rubygems` inside it. That way, we could potentially track `stdlib` and `psych` issues in it as well (perhaps?).

[2015-07-28 10:28] reedloden commented on #184
Turns out to be quite a few more than 7. OSVDB is sorely lacking in staying on top of ruby vulns. http://www.cvedetails.com turned out to be super useful for tracking down vulns, and I even ran into a few that require more details...

[2015-07-30 17:24] phillmv opened #192 "Add references / related_urls to schema"
As per #191 I'm very down to adding a bit of schema to all advisories for other sources of information. Like a `see_also` or a `references` or a `related_urls`.

Right now my interpretation of a url is merely a canonical reference to the original advisory source.

The purpose of this ticket is to record this intent in the meantime; I suspect we may wish to revisit or formalize other bits of our sc

[2015-07-30 17:27] #184 closed

[2015-07-30 17:28] phillmv opened #193 "Update readme to match fact that we now support rubies"
Readme is a little out of date :).

Possibly a good spot to think about how we communicate the acceptable schema ala #192

[2015-08-02 10:43] reedloden commented on #186
or we could just change `platform` to be what rubygems actually considers platforms...
`java`, `x86-mingw32`, `x64-mingw32`, `linux`, `mswin`, etc.

We'll change all `jruby` uses to `java`. I think that's the only case where we use `platform` right now.

The default platform is `ruby`, so we'll not require it in that case.

[2015-08-09 04:01] #165 closed

[2015-08-11 19:54] reedloden commented on #193
... and that we support rubygems as well.

[2015-11-18 19:27] #174 closed

[2015-11-26 15:38] phillmv commented on #192
As got formalized in the test spec, we now accept:

[code]

This ticket remains open until the docs get updated.

[2015-12-11 05:59] reedloden opened #215 "Add advisory for SMTP injection vulnerability in mail <2.6.0"
Need an advisory for the mail vulnerability discussed in http://www.mbsd.jp/Whitepaper/smtpi.pdf (section 3.1)

Affects <2.6.0

[2015-12-11 06:03] reedloden commented on #215
@mikel / @bf4 -- any idea which commit fixed this issue? 2.6.0 fixed a ton of stuff. :/

[2015-12-11 10:06] reedloden commented on #215
I did a git bisect using a test case I received from the author, and if I'm understanding the issue correctly, I think https://github.com/mikel/mail/commit/72befdc4dab3e6e288ce226a7da2aa474cf5be83 fixed it. Let me confer with the paper author to make sure I'm seeing the right thing.

[2015-12-11 10:12] reedloden commented on #215
He confirms it's that rev. If the unfold method is commented out, the problem returns.

[2015-12-11 10:47] reedloden commented on #215
The paper author has informed me "BTW, while investigating the source code of Mail, I came to think the fault might be more on Net::SMTP's side. It is difficult to say who is responsible for it, Net::SMTP, Mail or application developers (library users) though."

'mail' guys... thoughts on this? In any case, should add a test to 'mail' to ensure this doesn't pop up again. :)

[2015-12-11 10:50] skorth commented on #215
Always learning something new, thx for sharing :+1:

[2015-12-11 15:50] reedloden commented on #215
Request made to MITRE (and also posted to oss-security@) for a CVE. Also requested an ID from OSVDB. Sucks we have to wait for one of them before getting this advisory published.

[2015-12-11 16:11] reedloden opened #216 "Add advisory for handlebars-source <4.0.0 for "Quoteless attributes in templates can lead to XSS""
I just noticed that rubygems tracks handlebars.js via https://rubygems.org/gems/handlebars-source as well, sigh...

https://blog.srcclr.com/handlebars_vulnerability_research_findings/

https://srcclr.com/catalog/vulnerabilities/1878

https://github.com/wycats/handlebars.js/pull/1083

https://github.com/RetireJS/retire.js/commit/8d3c91e54f075a62cfc1f99edc792d811c35e3b3

[2015-12-11 16:31] reedloden commented on #216
@VanessaHenderson How can I get you folks to let RubySec and Node Security Project know about these things when you find them? :)

[2015-12-11 16:32] reedloden commented on #216
This issue also affects mustache.js (see https://github.com/janl/mustache.js/commit/378bcca8a5cfe4058f294a3dbb78e8755e8e0da5), which means https://github.com/knapo/mustache-js-rails is affected.

[2015-12-11 16:44] reedloden commented on #216
Requested a CVE from MITRE, as well as an ID from OSVDB.

[2015-12-11 17:47] jeremy commented on #215
First we've heard of this for the mail lib. Forwarded to security@ruby-lang.org, too.

[2015-12-11 21:38] phillmv commented on #216
Whoa, nice going @VanessaHenderson!

[2015-12-13 21:57] reedloden commented on #216
`mustache-js-rails` v2.0.3 was just released with a [fix](https://github.com/knapo/mustache-js-rails/commit/0c79aec192b9b4a8491cdc3398bf6e4db535432b) for this issue.

[2015-12-15 02:51] bf4 commented on #215
@reedloden how the heck did you find this?  Do you know if the author tried to contact anyone before publishing?

[2015-12-15 03:25] reedloden commented on #215
@bf4 The paper was [posted on r/netsec](https://www.reddit.com/r/netsec/comments/3w7sux/smtp_injection_via_recipient_email_addresses_pdf/). It was indirectly mentioned in an advisory for PHPMailer as well.

I'm in contact with the author, so I will ask him, but I suspect not for Ruby at least, as the issue had been fixed already (though not on purpose, it seems).

[2015-12-16 20:53] #216 closed

[2015-12-16 20:58] reedloden commented on #215
It was originally [posted to the WebAppSec mailing list](http://seclists.org/webappsec/2015/q4/13) on 2015-12-09.

[2015-12-23 19:13] JuanitoFatas opened #222 "OSVDB-109206 Page not found"
Hello!

I found that [OSVDB-109206.yml exists](https://github.com/rubysec/ruby-advisory-db/blob/master/gems/twitter-bootstrap-rails/OSVDB-109206.yml), but http://rubysec.com/advisories/OSVDB-109206 couldn't be found?

:confused: ?

[2015-12-29 03:45] reedloden commented on #222
The CVE takes priority in that case, so http://rubysec.com/advisories/CVE-2014-4920/ exists.

Perhaps we should create pages for both? or use the name of the advisory file?

Personally, I think we should have our own numbering system and stop relying on CVE and OSVDB for assignments before we can post something.

[2015-12-29 07:13] JuanitoFatas commented on #222
Yes that's why I expected :smile:

I thought we are using the name of the advisory file as part of URL? No?

CVE-2014-4920.yml =>  http://rubysec.com/advisories/CVE-2014-4920
OSVDB-109206.yml =>  http://rubysec.com/advisories/OSVDB-109206

That sounds good but do you think rely on CVE and OSVDB are easier to find and consume by scripts?

Thank you!

[2015-12-29 19:11] reedloden commented on #222
No, we're actually ignoring the filename and using the CVE if it exists, otherwise the OSVDB ID.

[code]

I'll see about creating pages for both for now (with a canonical URL set to only one).

As for the numbering, we would still ensure we list CVE and OSVDB identifiers, but we just won't be blocked on waiting for one of them in order to post an advisory.

[2015-12-30 04:54] JuanitoFatas commented on #222
Thanks so much for this! No hurries : )

This is a good idea, I am +1.

[2016-01-05 15:21] mveytsman commented on #222
@reedloden I agree, we should have our own numbering system.

I'm starting a new issue about that

[2016-01-05 15:25] mveytsman opened #224 "RubySec numbering system"
We should stop relying on osvdb and cve ids as canonical identifiers as they may not be always present, as in the case where we get a vuln before it's in either db.
- [ ]  Add a new field to the schema, `rubysec-id`
- [ ] Come up with numbering scheme. My suggestion is to model after CVE, ala `RUBYSEC-2016-00001`
- [ ] Add a `rubysec-id`s to past vulns in the database.
- [ ] Come up with policy fo

[2016-01-05 18:34] reedloden commented on #224
How do we track what is the next available ID to use?

For the year assignment, is that the date of the disclosure or date of finding? Depending on that, need to be able to continually add new IDs for previous years as vulnerabilities are found (that we weren't tracking).

Proper CVE-like format would be `RUBYSEC-YYYY-NNNN` where NNNN is always at least 4 numbers, zero-padded (can be increased bey

[2016-01-05 19:04] tarcieri commented on #224
Each time IDs are assigned, you could check them into a registry file in the repo (perhaps with a note about whom they were assigned to)

[2016-01-06 15:44] phillmv commented on #224
I think we should script something easy to accept PRs with - maybe it'll calc the new id, merge the changes, apply new id then push the merged results, rather than just using GH.

I vote disclosure. Keep it simple.

I'd propose RBS-YYYY-NNNN and keep it `rubysec` or `rubysec-id`.

In my heart of hearts, I think it'd be cool to ditch the centrally managed monotonic integer and instead have some kin

[2016-01-06 21:43] JonRowe commented on #224
Why not write a script to calculate it and apply as a build step via travis-ci?

[2016-01-11 03:08] reedloden opened #228 "Add advisory for ruby DL::Function#call issue, fixed in ruby-1.9.1-p129"
This was never assigned a CVE / OSVDB identifier (requested [here](http://seclists.org/oss-sec/2015/q3/220)), so it's not tracked at all:
- DL::Function#call could pass tainted arguments to a C function even if
  $SAFE > 0.
  https://github.com/ruby/ruby/commit/7269e3de3cee3bbb6ab77fc708f3a10cab00b65e

I requested one from MITRE, but they had some questions, which security@ruby-lang.org has yet to

[2016-01-11 03:13] reedloden commented on #228
@unak just replied to my poke, but still lacking the correct info, I think.

[2016-01-26 03:32] reedloden opened #238 "Add advisories from SRC:CLR"
Just a todo list I figured I should put somewhere more public... Need to add advisories for all these:

ruby_rncryptor / ruby_rncryptor_secured -- https://srcclr.com/security/timing-attacks/ruby/s-1938

spina -- https://srcclr.com/security/cross-site-request-forgery-csrf/ruby/s-1686

logstash-core -- https://srcclr.com/security/factoring-attack-rsa-export-keys-freak/ruby/s-1745
https://srcclr.com/

[2016-01-26 03:39] JuanitoFatas opened #239 "Advisory template"
Should we add advisory templates in Wiki, or other repository or this repository?

So we'll have same format of advisory and other people can help add advisories.

[2016-02-27 01:53] VanessaHenderson commented on #238
refinerycms-core
https://srcclr.com/security/cross-site-scripting-xss-through-title/ruby/s-2168
https://srcclr.com/security/cross-site-scripting-xss-through-alt/ruby/s-2169
https://srcclr.com/security/stored-cross-site-scripting-xss-title/ruby/s-2170
https://srcclr.com/security/cross-site-request-forgery-csrf/ruby/s-2171

[2016-02-27 01:56] VanessaHenderson commented on #224
I feel like this is more important now that OSVDB seems to have been down for the last month or so

[2016-03-08 21:00] jasnow opened #243 "Add support for CVE-2016-2098 for Rails 4.2.6.*."
Previously reported at https://github.com/rubysec/bundler-audit/issues/140

Add support for Rails 4.2.6.*. Example:
[code]

Reference: https://groups.google.com/forum/#!topic/rubyonrails-security/ly-IH-fxr_Q

[2016-03-09 00:14] #243 closed

[2016-03-09 01:29] jasnow commented on #243
Thank you

[2016-03-09 11:22] dcarral opened #244 "Rails-related advisory files out-of-date? (v4.2.6 recently released)"
We've an application using Rails v.4.2.5.2 where `bundler-audit` doesn't complain about anything.

However, when upgrading Rails dependency to v.4.2.6 (which has been released a few days ago), `bundler-audit` warns about several vulnerabilities.

The reported vulnerabilities are the following ones:

- CVE-2016-0753
- CVE-2016-0752
- CVE-2015-7581
- CVE-2015-7577
- CVE-2016-2098
- CVE-2015-7576
- C

[2016-03-09 11:26] dcarral commented on #244
Fwiw, I've just seen that @reedloden applied an [optimistic version constraint](https://github.com/rubysec/ruby-advisory-db/commit/782f008ee01c25bff1bea2c357de5162a3132cd5) in order to fix the very-related (and already closed) https://github.com/rubysec/ruby-advisory-db/issues/243.

[2016-03-09 16:08] dcarral opened #246 "Incompatibility between RSpec 3.3.2 & Rake 11.0"
Quoting @jekuta's comment @ PR #245:

[2016-03-09 19:09] #246 closed

[2016-03-10 09:20] spickermann commented on #244
+1

[2016-03-10 15:52] #244 closed

[2016-03-15 07:47] VanessaHenderson commented on #238
paperclip -- https://srcclr.com/security/denial-service-dos-through-excessive/ruby/s-2242

[2016-03-31 11:44] VanessaHenderson commented on #238
admin-upmin, upmin and shoppe -- https://srcclr.com/security/cross-site-request-forgery-csrf-due-to/ruby/s-2266
devise_invitable -- https://srcclr.com/security/cross-site-request-forgery-csrf/ruby/s-2272

[2016-04-04 03:14] reedloden commented on #238
activeadmin -- https://srcclr.com/security/cross-site-scripting-xss-through-modal/ruby/s-2276

[2016-04-04 07:25] skorth commented on #238
@reedloden regarding spina ruby gem https://github.com/rubysec/ruby-advisory-db/pull/250

[2016-04-06 04:22] jeremy commented on #215
The mail 2.6.x fix is a coincidence. Even if it was intentional, it wouldn't be a sufficient fix for the underlying SMTP injection vuln. The referenced paper discusses this a bit: crafting otherwise-legal FWS to inject & exploit specific MTAs.

Furthermore, the fix is a side effect of incorrect behavior. Fixing that behavior in the mail lib would inadvertently re-expose the underlying SMTPi vuln t

[2016-04-06 04:27] reedloden commented on #215
@jeremy

Is there a bug filed with ruby upstream to add that validation so that this
doesn't reoccur?

On Tuesday, April 5, 2016, Jeremy Daer <notifications@github.com> wrote:

[2016-04-06 04:40] jeremy commented on #215
@reedloden Yep, filed 2015-12-11.

[2016-04-06 09:33] reedloden commented on #215
@jeremy Link to bug report just so I can track it?

[2016-04-06 22:52] jeremy commented on #215
@reedloden not public; reported to security@ruby-lang.org.

[2016-04-06 23:21] VanessaHenderson commented on #224
Yup, so the OSVDB numbering system certainly won't work anymore. They've shut down,  see https://blog.osvdb.org/2016/04/05/osvdb-fin/

[2016-04-07 23:37] postmodern opened #251 "Migrate off of OSVDB"
[OSVDB is shutting down](https://blog.osvdb.org/2016/04/05/osvdb-fin/). It's not clear what will become of OSVDB, whether it might be pivoted, change ownership or if we'll get a database dump. Currently, ruby-advisory-db contains OSVDB IDs and links to osvdb.org. The osvdb.org links should be replaced with other links, since they're all [404](http://www.osvdb.org/show/osvdb/98629)ed. We should pro

[2016-04-07 23:44] postmodern commented on #224
@VanessaHenderson opened issue #251 to discuss triaging the OSVDB shutdown.

[2016-04-07 23:46] mveytsman commented on #224
+1

[2016-04-08 00:07] postmodern commented on #251
IANACL (I am not a copyright lawyer), but can or should we remove the OSVDB legal notice from the README?

developed by the Open Security Foundation (OSF) and its contributors.

[2016-04-08 00:15] postmodern commented on #251
I propose we rename all `OSVDB-` files to `CVE-`, IFF they have a CVE ID. Advisory URLs should point back to the authoritative advisory from the project maintainers. This would be easy if we had a dump of OSVDB's database. We could point all advisory URLs to NVDB/MITRE in the interim?

[2016-04-08 17:01] mveytsman commented on #224
I made a first pass at a rake task to reserve rubysec ids ala @tarcieri's suggestion

If there's consensus I can assign rubysec ids to everything as a step towards getting rid of OSVDB (#251)

[2016-04-11 07:36] reedloden commented on #224
We could also just add support for DWF, which is going to be merged with CVE. We could become our own CNA for DWF. Might be easier.

[2016-04-14 04:41] JuanitoFatas commented on #222
Moved to #224, #251 also related.

[2016-04-14 04:41] #222 closed

[2016-05-01 21:19] connorshea commented on #251
Any updates on how the OSVDB is handling this shut down?

[2016-05-08 16:08] phillmv commented on #224
So I spent sometime thinking about this. The DWF Reed is referring to is the [Distributed Weakness Filing](https://github.com/distributedweaknessfiling) which could use some marketing love if it's to be adopted widely BUT:

If we are to adopt a custom numbering scheme that *should* be backwards compatible with CVE… we might as well become a numbering authority of this system rather than make our o

[2016-05-09 20:02] postmodern commented on #224
:+1: for going with a defacto standard, instead of yet-another-numbering system.

[2016-05-20 03:25] reedloden commented on #224
I submitted a PR to get us a block of IDs -- https://github.com/distributedweaknessfiling/DNA-Registry/pull/14

@phillmv, can you set up the e-mail forwarder? or I can help if you're too busy.

[2016-05-20 08:12] thesp0nge commented on #224
In order to use a your numbering system in @dawnscanner, are you going to
backport all ruby/gems related CVE?

On 20 May 2016 at 05:25, Reed Loden <notifications@github.com> wrote:

--
$ cd /pub
$ more beer

I pirati della sicurezza applicativa: https://codiceinsicuro.it

[2016-05-20 08:37] reedloden commented on #224
We would still support CVEs, and in fact, DWF is working closely with CVE, so it may end up that we will get CVE assignments anyway for stuff (just perhaps on a delayed basis, where we can assign DWF ourselves). We're just not going to support any new OSVDB stuff, and we should migrate all the OSVDB stuff to DWF, most likely.

[2016-05-20 15:25] reedloden commented on #224
In fact, looks like we're just going to be assigning CVEs (in-)directly (and not DWFs).

We've been approved by DWF and are ready to get CVEs as needed. I'm going to put together a list of vulnerabilities that need a CVE assigned and start getting that done.

[2016-05-20 15:29] phillmv commented on #224
That's great, I look forward to figuring that out.

I've been caught in traffic; no one uses info@ rn so I think that can wait till I'm back on Monday.

[2016-06-24 17:08] reedloden opened #262 "Support CVSSv3"
CVSSv3 was released last year, so we should add support for it in our schema.

https://www.first.org/cvss

[2016-06-24 19:01] #262 closed

[2016-08-18 23:35] f3ndot opened #267 "Support Openwall's OVE?"
As per Openwall's [tweet](https://twitter.com/Openwall/status/706162681045262336):

Perhaps we should consider supporting the OVE because whatever, who knows, maybe it'll be nice & complimentary to CVE-- Especially since [OSVDB is gonezo](https://blog.osvdb.org/2016/04/05/osvdb-fin/)

[2016-08-19 15:16] phillmv commented on #267
How does OVE differ from DWF?

Per #251 and #224 we're already on the [DWF system](https://github.com/distributedweaknessfiling/DNA-Registry/commit/2a7d144246938bff8844447025a003ca22e5dd98). We still need to convert our OSVDB entries into our DWF namespaces but barring any significant divergence this might be the same?

Worse comes to worse, adding another field if ids are available ain't a bad id

[2016-08-19 15:33] f3ndot commented on #267
Not sure! Just stumbled across it. DWF appears more complete and well supported. I'm fine with just that 😄

[2016-08-23 15:40] david-a-wheeler commented on #251
OSVDB is now gone; the front page should stop implying that it exists.  Where possible, a CVE identifier should be used in addition to the OSVDB identifier.  I don't see a problem with using both, to prevent future problems, but identifiers to defunct databases are less useful.

[2016-10-05 13:02] matthewtuck opened #271 "False positives about vulnerabilities in Rails 4.2.7.1, advises downgrade."
Using ````bundler-audit```` I'm getting errors such as:

    Name: actionpack
    Version: 4.2.7.1
    Advisory: CVE-2015-7576
    Criticality: Unknown
    URL: https://groups.google.com/forum/#!topic/rubyonrails-security/ANv0HDHEC3k
    Title: Timing attack vulnerability in basic authentication in Action Controller.
    Solution: upgrade to ~> 5.0.0.beta1.1, ~> 4.2.5.1, ~> 4.1.14.1, ~> 3.2.22.1

[2016-10-05 15:48] mveytsman commented on #271
Have you tried running `bundle-audit update` to pull the latest advisory files?

This should be handled by https://github.com/rubysec/ruby-advisory-db/commit/c36af8e0c47747d15d9347bffb9fe42a58237273

Let me know if it works!

[2016-10-06 02:16] matthewtuck commented on #271
Ahh, right you are, I'd thought it'd be automatic or bundle-audit would get rereleased. I see it on the bundler-audit page now, sorry for not RTFM!

[2016-10-06 07:14] reedloden commented on #271
No worries. Happy auditing!

[2016-10-06 07:14] #271 closed

[2016-10-28 19:29] aripollak opened #272 "Add advisory for will_paginate"
Apparently there was a security issue fixed here: https://github.com/mislav/will_paginate/commit/ec9b9851901f8b74adc945302c0520320aaa7ead and here: https://github.com/mislav/will_paginate/commit/ab55687acae11af4274bdf1664481314524d91f6

It looks like versions before 3.1.2, 3.0.9, and  are vulnerable, but this has no CVE and I'm not sure exactly what this protects against.

[2016-10-28 19:46] aripollak commented on #272
With a bit of experimentation, I discovered that adding `&script_name=https://www.example.com` to a page with will_paginate links would result in the links being rewritten to be https://www.example.com... instead of the intended site. I guess someone could use this in a social engineering attack by sending someone a link with &script_name being a malicious site and hoping they click on the paginat

[2016-12-18 16:49] jrochkind commented on #267
There's no longer a repo at https://github.com/distributedweaknessfiling/DNA-Registry/

What's the state of security tracking db's here?

[2016-12-20 17:22] tarcieri commented on #267
DWF is definitely still around: https://github.com/distributedweaknessfiling/DWF-Database

[2016-12-20 18:20] jrochkind commented on #267
Thanks, I guess they're moving around?  The first lines at the link @tarcieri provides are:

I'm not sure where one finds "the JSON database", apparently not that repo?

[2016-12-20 18:23] tarcieri commented on #267
I think that's likely referring to:

https://github.com/distributedweaknessfiling/DWF-Database-Artifacts

[2017-01-25 08:57] skorth opened #273 "Omniauth security issue?"
Just found this:

OmniAuth 1.3.1 improperly stores POST data in callback params. (https://github.com/omniauth/omniauth/pull/867)

[2017-01-31 17:08] mveytsman commented on #224
I now believe DWF/CVE (or possibly OVE) is the way forward.

The DWF system is undergoing some changes, and I'm in contact with @kurtseifried on getting us set up.

Since I was the one pushing our own numbering system, and don't think that's the right move anymore, I'm closing this issue

[2017-01-31 17:08] #224 closed

[2017-02-02 18:38] mveytsman commented on #251
I'm in the process of working on this.
- [ ] Find out if there are CVEs for anything we don't have them for
- [ ] Get CVEs issued for everything that only has OSVDB
- [ ] Replace all the URLs with non-osvdb links
- [ ] delete all OSVDB references in the yaml
- [ ] Update documentation & tests

[2017-02-10 19:46] kurtseifried commented on #267
DWF is changing things up, so long story short: file an issue at https://github.com/distributedweaknessfiling/DWF-CNA-Registry and we can start the process (disclaimer: I'm away at RSA this coming week).

As for where the data is published I'm sharding the database into blocks, the master database is at:

https://github.com/distributedweaknessfiling/DWF-CNA-Registry

from which MITRE will pull thi

[2017-02-22 08:40] rhymes opened #281 "Rails 4.2.8 has been released but two CVEs aimed safe on 4.2.7.1 do not match it"
As the title mentioned I am trying to upgrade to Rails 4.2.8 but the continuos integration, which uses bundle-audit and this advisory DB blocked the deploy because of this:

[code]

The first - https://github.com/rubysec/ruby-advisory-db/blob/master/gems/actionview/CVE-2016-6316.yml - is a vulnerability in actionview declared safe in 4.2.7.1

The second - https://github.com/rubysec/ruby-advisory-d

[2017-02-22 15:16] phillmv opened #282 "Ensure actionpack data from PR #266 does not refer to > 4.1"
Re: https://github.com/rubysec/ruby-advisory-db/pull/266

[2017-02-22 21:57] mveytsman commented on #281
Closed by #279

[2017-02-22 21:57] #281 closed

[2017-02-24 16:12] mveytsman opened #285 "Write a test so that all patched_constraints have a >="
Suppose the highest patched version is `~> 5.1` and rails 6 comes out, it is now vulnerable
see #284

We should make sure that the patched or unaffected versions array always has a `>=` condition

[2017-04-09 20:07] skorth opened #289 "guard-livereload security vulnerability"
guard/guard-livereload#159

CVE seems to be invalid:
https://github.com/distributedweaknessfiling/DWF-Database-Artifacts/blob/158c10cf11bc7d6ad728c1a8dd213f523ecfca52/DWF/2016/1000305/CVE-2016-1000305.json

[2017-04-10 21:19] phillmv commented on #289
We're definitely missing this issue - but what part is invalid?

[2017-04-11 10:00] skorth commented on #289
@phillmv I just didn't find any CVE assignment on mitre.

[2017-04-11 22:42] attritionorg commented on #289
That is part of DWF, which is a newly minted CNA. MITRE has not fully setup the process to automatically pull in and process DWF-assigned IDs. That is the official DWF GitHub though, so any assignment information there is legitimate.

[2017-05-08 06:49] jeremy commented on #215
HackerOne report and fix: https://hackerone.com/reports/137631

Resolved in Ruby 2.4.0 release by https://github.com/ruby/ruby/commit/0827a7e52ba3d957a634b063bf5a391239b9ffee

[2017-05-09 05:28] jeremy commented on #215
2.5.5.rc1 and 2.6.6.rc1 gems released with SMTP address validation: https://github.com/mikel/mail/pull/1097

[2017-06-09 22:58] phillmv commented on #215
@jeremy hey!

Do we need to update anything re: https://github.com/rubysec/ruby-advisory-db/blob/master/gems/mail/OSVDB-131677.yml ? I'm thinking re: the patched or fixed versions.

(Aside from adding better context of course. We could add links, and or move off OSVDB if there's a CVE for it…)

Thanks!

[2017-06-10 00:47] jeremy commented on #215
Hey @phillmv!

Could just bump `patched_versions` to `>= 2.5.5`, but the reality is a bit trickier.

Vulnerable:
- mail < 2.5.5 users on Ruby < 2.4.0
- all net/smtp users on Ruby < 2.4.0

Non vulnerable:
- mail >= 2.5.5 users on Ruby < 2.4.0
- all net/smtp users on Ruby >= 2.4.0

Not sure how this best maps to advisories.

[2017-06-12 06:31] jeremy commented on #215
We should split this into two advisories: one for the Mail gem not doing output validation and another for Ruby SMTP allowing CRLF injection. I requested a CVE for the Ruby vuln. @reedloden [requested back in 2015](http://seclists.org/oss-sec/2015/q4/471) as well, so we may have a dupe or that may apply to the Mail lib only.

[2017-06-12 17:34] phillmv commented on #215
I'm fine with the most basic "your ass is covered" version range, and thank you for confirming.

I approved the PR and added some useful context: https://github.com/rubysec/ruby-advisory-db/commit/01c549eae0c5c978dcdccf826dbf4176fcdc1ded

If you think it's more accurate to have a 2nd advisory that's fine by me.

[2017-06-12 19:21] jeremy commented on #215
PR for Ruby vuln, pending CVE assignment: #293

[2017-06-12 21:07] jeremy commented on #215
CVE-2015-9096 (Ruby) and CVE-2015-9097 (Mail) assigned. #293 updated.

[2017-06-13 18:50] jeremy commented on #215
#292 and #293 merged, cool to close this up!

[2017-06-14 05:04] #215 closed

[2017-07-06 11:21] jordimassaguerpla opened #294 "wrong date in passenger cve-2016-10345"
Hi,
the year in the yaml file is 2017 when the issue was disclosed on 2016.

https://github.com/rubysec/ruby-advisory-db/blob/master/gems/passenger/CVE-2016-10345.yml#L6

Reading the README.md, it states date should be the disclosure date, so I think the date is wrong in that file.

Thanks

[2017-07-13 20:43] maliqq opened #296 "add .gemspec and publish to rubygems"
Make it possible to include this database in Gemfiles or gemspecs of other gems/apps, and retrieve database using `spec.full_gem_path`

[2017-07-18 21:02] postmodern commented on #296
I'm more planning on extracting the code which downloads the database from [bundler-audit](https://github.com/rubysec/bundler-audit/blob/master/lib/bundler/audit/database.rb) into a separate gem.

[2017-07-18 21:02] #296 closed

[2017-08-31 17:47] thbar opened #299 "Multiple vulnerabilities in RubyGems"
What do you think of adding the [vulnerabilities of RubyGems](https://www.ruby-lang.org/en/news/2017/08/29/multiple-vulnerabilities-in-rubygems/) itself to ruby-advisory-db?

It would make sure anyone using `bundler-audit` would get an error, for instance, and would encourage quick upgrading.

[2017-08-31 21:34] zeckalpha commented on #299
It looks like @sho-h opened #298 for this.

[2017-08-31 21:39] thbar commented on #299
Indeed! I missed that one. Closing the issue in favor of the PR. Thanks!

[2017-08-31 21:39] #299 closed

[2017-09-15 16:30] modosc opened #300 "consider adding advisories for ruby versions as well"
consider the issues that came out today:

https://www.ruby-lang.org/en/news/2017/09/14/json-heap-exposure-cve-2017-14064/
https://www.ruby-lang.org/en/news/2017/09/14/openssl-asn1-buffer-underrun-cve-2017-14033/
https://www.ruby-lang.org/en/news/2017/09/14/sprintf-buffer-underrun-cve-2017-0898/
https://www.ruby-lang.org/en/news/2017/09/14/webrick-basic-auth-escape-sequence-injection-cve-2017-10784

[2017-09-20 22:40] #300 closed

[2017-09-21 11:23] dentarg opened #303 "Add recent Nokogiri vulnerabilities"
Several vulnerabilities in libxml2 were reported: https://usn.ubuntu.com/usn/usn-3424-1/

They have all been addressed in Nokogiri 1.8.1 by updating libxml to 2.9.5.

See https://github.com/sparklemotion/nokogiri/issues/1673 for more information.

[2017-09-21 19:15] #303 closed

[2017-09-21 19:15] phillmv commented on #303
Thank you both!

[2017-10-03 03:44] tarcieri opened #305 ""encryptor" gem v2.0.0: AES-GCM nonce reuse vulnerability"
I'm not sure this vulnerability ever received a CVE. It's described in the project's README:

https://github.com/attr-encrypted/encryptor#upgrading-from-v200-to-v300

This gem was encrypting all messages using the same key/nonce. This not only exposes the XOR of the plaintexts if you XOR together two ciphertexts, but it also leaks the AES-GCM authentication key, allowing an attacker to forge messa

[2017-10-12 18:29] smlsml opened #306 "rack-ssl 1.3.4 solves CVE-2014-2538"
This has been fixed/avoid according to this:
https://github.com/rubysec/ruby-advisory-db/pull/183
`https://github.com/rubysec/ruby-advisory-db/pull/183`

Can we get the advisory yml for that updated?

[2017-10-12 18:34] smlsml commented on #306
Oh, somehow I was linked to an old commit of that file, I see it is correct now. Sorry!

[2017-10-12 18:34] #306 closed

[2017-10-12 21:14] postmodern opened #307 "Upgrade to CVSSv3?"
Should we upgrade to [CVSSv3 scores](https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?name=CVE-2017-0902&vector=AV:N/AC:H/PR:N/UI:N/S:U/C:H/I:H/A:H)? Maybe begin adding a `cvssv3` field alongside `cvssv2`?

[2017-10-13 19:36] postmodern commented on #273
Doesn't look like they ever published and advisory or got a CVE?

[2017-10-13 19:42] #294 closed

[2017-10-13 20:10] postmodern commented on #282
Going through the open issues. Can this be closed?

[2017-10-16 17:22] saghaulor commented on #305
More information on this vulnerability can be found here: https://github.com/attr-encrypted/encryptor/pull/22

[2017-10-17 07:46] skorth commented on #273
@postmodern Didn't found anything.

[2017-12-07 17:48] jpanderson-outreach opened #312 "Redis-store <= 1.3.0 vulnerability"
Covers CVE-2017-1000248

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-1000248

[2017-12-08 20:04] phillmv commented on #312
<3

[2017-12-08 20:04] #312 closed

[2018-01-09 01:17] #285 closed

[2018-01-29 15:40] phillmv commented on #273
https://github.com/omniauth/omniauth/pull/867#issuecomment-360869617

CVE-2017-18076

[2018-02-01 01:51] #273 closed

[2018-02-27 21:17] sheldond opened #330 "Sinatra CVE-2018-7212 incorrectly specifies v1.x as affected?"
#327 marked v1.x of Sinatra as vulnerable to CVE-2018-7212.

Based on my reading of the CVE at https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7212
it sounds to me that only Sinatra v2.x is vulnerable.

Therefore I'm wondering if v1.x should actually be excluded (by setting unaffected_versions).

I could be wrong, @peterkeen what do you think? Thanks!

[2018-02-27 21:21] peterkeen commented on #330
@namusyaka and @orangetw definitely have more information about that than I do. Maybe they'll be able to weigh in.

[2018-02-27 22:13] andrew-stripe commented on #330
I believe this should specify that the rack-protection gem is vulnerable (not sinatra) and fixed in ~>1.5.4, >2.0.0

[2018-02-28 08:07] #330 closed

[2018-02-28 14:51] sheldond commented on #330
Thanks everyone! 😄

[2018-06-06 16:26] transoceanic2000 opened #337 "Add CVE-2018-11627 for Sinatra"
[CVE-2018-11627](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-11627) has been fixed via [Sinatra issue 1428](https://github.com/sinatra/sinatra/issues/1428).

This was flagged to me by GitHub but wasn't picked up by `bundle-audit`. It appears we don't yet have sinatra in the advisory DB. I'm assuming there's no reason not to, so will prepare a PR.

[2018-06-08 07:10] #337 closed

[2018-07-09 21:03] teovoinea opened #342 "bson gem doesn't follow schema defined in README"
Specifically the `vendor_patch` field.

https://github.com/rubysec/ruby-advisory-db/blob/e0b4eec844f24d5844df11149196b62e2c9199e4/gems/bson/CVE-2015-4412.yml#L11-L13

[2018-07-10 16:22] phillmv commented on #342
Good catch. Maybe convert it to a url field?

[2018-07-11 21:05] #342 closed

[2018-08-09 10:06] ashkulz opened #345 "additional typosquatting gem "deamons""
I just noticed that the author of `active-support` has another gem [`deamons`](https://rubygems.org/gems/deamons) which loads something from the URL `http://5174e60c.rootkittter.de/attributives` (found in ext/scopeliform/trickless/extconf.rb). Should that be blacklisted as well, as it looks like a deliberate typo for `daemons`?

[2018-08-09 10:26] kuahyeow commented on #345
You should report this to rubygems.org via the 'Report abuse' link on the right, if you haven't already.

[2018-08-09 10:44] ashkulz commented on #345
Done, didn't know that option was there. Saw b27b9586c46ca189780ffde7ea8dfaab9f6e125c and clicked around the site and found this.

[2018-08-09 14:24] phillmv commented on #345
Both namespaces are now gone but do you recall if the code for those gems was being hosted on GitHub?

[2018-08-09 14:27] ashkulz commented on #345
Don't think so, it pointed to some other project's source. I have the gems downloaded on my work laptop, can check the metadata and report back tomorrow.

[2018-08-10 04:06] ashkulz commented on #345
Please see the gems for [`active-support`](https://ashish.kulkarni.org.in/active-support-5.2.0.gem) and [`deamons`](https://ashish.kulkarni.org.in/deamons-1.2.6.gem) as downloaded yesterday from the RubyGems site -- the homepage is obviously wrong in both cases.

Not sure what should be done with the ticket now that they both have been removed, feel free to close it if you don't want to blacklist

[2018-08-10 14:57] phillmv commented on #345
Yeah, poking around it doesn't look like any of the exploit code is hosted on github - otherwise I'd try to track down the user and get them banned or something.

Thanks for the effort @ashkulz and I guess we'll just close the ticket.

[2018-08-10 14:57] #345 closed

[2018-09-06 16:39] jrochkind opened #352 "rubyzip CVE-2018-1000544 does not seem to be in db yet?"
https://nvd.nist.gov/vuln/detail/CVE-2018-1000544

[2018-09-06 16:40] jrochkind commented on #352
I was wrong, it was already in there! I just hadn't updated my local advisory db.

[2018-09-06 16:40] #352 closed

[2018-09-20 11:11] tuzovakaoff opened #354 "Broken link in CVE-2014-4920"
broken URL in  [CVE-2014-4920](https://github.com/rubysec/ruby-advisory-db/blob/b51605eae47451b47316dd76522fda0b1b5b940c/gems/twitter-bootstrap-rails/OSVDB-109206.yml)

`https://nvisium.com/blog/2014/03/28/reflected-xss-vulnerability-in-twitter/`
returns 404

should be replaced with
`https://nvisium.com/blog/2014/03/28/reflected-xss-vulnerability-in-twitter`

[2018-10-01 06:54] #354 closed

[2018-10-17 21:40] transoceanic2000 opened #358 "Ruby CVE-2018-16395 - OpenSSL::X509::Name vulnerability"
New Rubies have been released this evening to fix this vulnerability, see

https://www.ruby-lang.org/en/news/2018/10/17/openssl-x509-name-equality-check-does-not-work-correctly-cve-2018-16395/

Have PR coming in a moment.

[2018-10-17 21:58] transoceanic2000 opened #360 "Ruby CVE 2018-16396 - Array#pack and String#unpack vulnerabilities"
New Rubies have been released this evening to fix this vulnerability, see

https://www.ruby-lang.org/en/news/2018/10/17/not-propagated-taint-flag-in-some-formats-of-pack-cve-2018-16396/

Have PR coming in a moment.

[2018-10-18 16:18] #358 closed

[2018-10-18 16:18] #360 closed

[2018-11-06 18:36] f3ndot opened #370 "No failed tests on unknown yaml structure"
We have some great validations for well-formed .yml files.

One way to take them a step further is to validate each key in the .yml file is known/expected and fail otherwise.

With such tests, we'd have caught 25eb46646c70315ee35d580d8be0af2e8db283a6 before it landed.

An oldie, but a goodie, this project seems to allow you to easily define YML schema and have tests for it's well-formed nature: ht

[2018-11-06 18:45] f3ndot commented on #370
Example of kwalify:

[code]

[code]

and so on

[2019-02-17 13:14] rafbm opened #376 "Expired certificate on https://rubysec.com/"
Not a great first impression for a security-focused project. Maybe this website is no longer relevant, but it’s linked in the GitHub repo header:

<img width="505" alt="screen shot 2019-02-17 at 08 09 30" src="https://user-images.githubusercontent.com/166943/52913373-8a153780-328b-11e9-8777-bf5cd14ec586.png">

<img width="863" alt="screen shot 2019-02-17 at 08 12 19" src="https://user-images.githu

[2019-02-17 16:43] phillmv commented on #376
duplicate of https://github.com/rubysec/rubysec.com/issues/10

[2019-02-17 16:43] #376 closed

[2019-03-01 15:50] lloeki opened #377 "Add advisory for intercom-rails"
https://github.com/intercom/intercom-rails/commit/83baa40d21b217caf52db57a2a0616a030ec8f38

[2019-03-13 18:34] aaronFranssell opened #381 "patched_versions for CVE do not include Rails 4"
https://github.com/rubysec/ruby-advisory-db/pull/380/files (CVE-2019-5420.yml specifically) mention a vulnerability in railties 5 + 6 but do not mention rails 4. The `patched_versions` section specifies upgrading to higher versions in railties 5 + 6, but this also affects rails 4 projects (which will have railties 4). Is there an issue in rails/railties 4 as well? Or can the `patched_version` excl

[2019-03-13 18:35] mjankowski commented on #381
I just noticed the same issue after updating a 5.1 app to 5.1.6.2 -- does the file for 5420 need an `unaffected_versions` entry for per 5.2 releases?

[2019-03-13 18:40] nomatteus commented on #381
I'm encountering the same issue for an upgrade from Rails `5.0.7.1` to `5.0.7.2` for CVE-2019-5420.

[2019-03-13 20:41] #381 closed

[2019-03-29 01:48] reedloden commented on #377
Is there a CVE assigned?

[2019-04-03 21:43] localhostdotdev opened #385 "Add advisory for bootstrap-sass 3.2.0.3 (backdoor executed through a cookie)"
https://snyk.io/blog/malicious-remote-code-execution-backdoor-discovered-in-the-popular-bootstrap-sass-ruby-gem/

[2019-04-04 16:34] phillmv commented on #385
thank you for the notification @localhostdotdev

[2019-04-04 16:34] #385 closed

[2019-07-06 15:06] reedloden opened #399 "[GHSA sync] Pull CVSS score from NVD"
Can we pull the CVSS score(s) from NVD via https://github.com/olbat/nvdcve when writing advisories?

[2019-07-06 15:59] reedloden opened #400 "[GHSA sync] handled related IDs"
Sometimes we have multiple IDs combined together into one advisory.

One example of this is `gems/bootstrap/CVE-2018-14040.yml`. The GHSA sync script doesn't understand that CVE-2018-14042 is part of this same advisory.

[2019-07-07 11:57] reedloden opened #401 "[GHSA sync] add extra identifiers"
Aside from the primary ID used for the file name, should add additional IDs as known.

[2019-07-07 11:58] reedloden opened #402 "[GHSA sync] add extra references"
Aside from the primary reference URL, should add any additional references under the `related` section.

[2019-07-17 10:00] reedloden commented on #399
@rschultheis ^^

[2019-07-17 10:00] reedloden commented on #400
@rschultheis ^^

[2019-07-17 10:00] reedloden commented on #401
@rschultheis ^^

[2019-07-17 10:00] reedloden commented on #402
@rschultheis ^^

[2019-08-23 09:38] shaicoleman opened #408 "CVE-2018-9206 - jquery-fileupload-rails"
The plugin ships with jQuery File Upload Plugin v9.12.5
Versions up to 9.22.0 are vulnerable
https://nvd.nist.gov/vuln/detail/CVE-2018-9206

[2019-08-23 17:37] reedloden commented on #408
https://rubygems.org/gems/jquery-fileupload-rails/versions doesn't map 1:1, but looks like all versions are affected.

[2019-08-23 17:43] reedloden commented on #408
Ah, this only affects the PHP code in upstream. The JavaScript code itself, which is what https://rubygems.org/gems/jquery-fileupload-rails includes, isn't affected. If you agree, please feel free to close this out.

[2019-08-23 21:06] shaicoleman commented on #408
Yes, it seems to affect the only the PHP code

[2019-08-23 21:06] #408 closed

[2019-09-27 04:56] cyc115 opened #416 "Include warnings for EOL ruby and gems"
End of life Ruby and Gems could be something `ruby-advisory-db` tracks. Tools like `bundler-audit` could then use this information to alert users fail builds. Any thoughts?

[2019-09-30 07:02] reedloden commented on #416
I like the idea. Thoughts on how we might show this to folks? Or the schema format?

[2019-09-30 07:24] BookOfGreg commented on #416
I like the idea, though can I ask it be the default but disable-able behind a flag. Since this forms part of CI for a lot of places this could end up blocking a lot of builds. Thoughts go out to a team I know contractually obligated to stay on ruby 1.8.x.

[2019-10-02 19:11] cyc115 commented on #416
Good idea, do you guys prefer to have it switch on with a flag (vs. on by default and switch off with flag)? Like you said, having it on by default could end up blocking a lot of builds.

[2019-10-24 02:17] postmodern commented on #416
End-of-Lifed rubies could be stored in [ruby-versions](https://github.com/postmodern/ruby-versions). End-of-Lifing isn't really a Security Advisory, so I don't think it really fits here. Although, Advisories for vulnerabilities in EOLed Rubies definitely can be added to ruby-advisory-db.

[2019-10-24 02:43] #370 closed

[2019-11-26 17:46] ken-duck opened #427 "Patched version range very confusing for CVE-2016-2097"
I was looking at ruby-advisory-db/gems/actionview/CVE-2016-2097.yml

The unaffected_versions and patched_version ranges are as follows:

It would seem that these two version ranges overlap each other. They also don't seem to match the description particularly well.

It is quite possible that I am reading it wrong, or misunderstand the syntax. Are the patched_versions incorrect or am I in error?

T

[2019-12-01 19:39] reedloden commented on #427
Looks like in old Rails versions that `actionpack` was affected, while in newer versions, `actionview` was. So, you need to review both `gems/actionpack/CVE-2016-2097.yml` and `gems/actionview/CVE-2016-2097.yml` to get the full picture

`patched_versions` and `unaffected_versions` can indeed overlap, and it's fine. Just means that a newer version isn't affected by this vulnerability, so the patch

[2019-12-02 05:07] ken-duck commented on #427
Ohhhhhh. I see. That certainly explains most of it for me. I am still mildly confused about the two overlapping patched_versions:

[2020-01-30 18:38] arothian opened #428 "Incorrect patch constraints for secure_headers"
The entries in commit d7f18396a8491576f410bf8c5868d6177eab0146 have incorrect patched version constraints. Both CVEs therein should be patched in secure_headers 3.9.0, but the current constraints will indicate incorrectly that 3.9.0 is vulnerable to CVE-2020-5217.

For CVE-2020-5216, I think the patched_versions should look as follows (reference https://nvd.nist.gov/vuln/detail/CVE-2020-5216)
[cod

[2020-02-03 17:47] oreoshake commented on #428
:wave: I created the original advisories and likely am the source of the issue. I think updating the constraints in the advisory will fix things.

[2020-02-04 14:32] Jay-Schneider opened #429 "Missing patched version ruby 2.7.0 for CVE-2018-16396 and CVE-2018-16395?"
Hi,

when I use `ruby-audit` after upgrading ruby version to 2.7.0 I get two found vulnerabilities:
[code]
I don't have the expertise to decide whether the vulnerabilites are really still resolved in 2.7.0 but I would think so.

Is there any reason that the last line of the files
* https://github.com/rubysec/ruby-advisory-db/blob/master/rubies/ruby/CVE-2018-16396.yml
* https://github.com/rubysec/r

[2020-02-04 17:06] phillmv commented on #429
That's a very astute question. If I had to guess it's probably because 2.7.0 had not yet been released. I too would wager that `>=` is the correct operator.

If you wanna submit a PR I'll approve it.

[2020-02-05 20:07] oreoshake commented on #428
I’ve updated the advisory using the suggested params, I’m not sure if/how that will get pushed to the various systems

[2020-02-28 18:06] #429 closed

[2020-02-28 18:07] reedloden commented on #428
Fixed by https://github.com/rubysec/ruby-advisory-db/pull/431

[2020-02-28 18:07] #428 closed

[2020-03-01 21:57] transoceanic2000 opened #435 "Add puma CVE-2020-5247"
HTTP Response splitting CVE in Puma - which is widely used (e.g. people running Rails on Heroku).

PR coming up.

[2020-03-01 22:28] reedloden commented on #435
Fixed by #436

[2020-03-01 22:28] #435 closed

[2020-03-02 16:37] lloeki opened #438 "Missing CVE-2017-17790"
https://www.cvedetails.com/cve/CVE-2017-17790/

[2020-03-30 18:15] FionaDL commented on #251
Hello @postmodern, @mveytsman I am interested in working on this issue.
I was thinking of replacing osvdb.org urls with nvd.nist.goc urls for all the current advisories, an example being: https://nvd.nist.gov/vuln/detail/CVE-2014-0130 .
Also I see there was tooling around osvdb.org in https://github.com/rubysec/ruby-advisory-db/blob/master/lib/osvdb_scrape.rb
Is this something that is worth to upd

[2020-03-30 18:41] postmodern commented on #251
@FionaDL help with this would be muuuuch appreciated. I would also replace `title`/`description` fields with what NVD has. Seeing as how `osvdb.org` doesn't point anywhere, `osvdb_scraper.rb` can be removed.

[2020-03-30 19:18] FionaDL commented on #251
Sounds good @postmodern!
I'll submit a PR updating the urls to close the original issue and will do a follow up PR to update the title / description.

[2020-04-02 18:01] FionaDL opened #441 "Update titles/descriptions for NVD advisories."
As suggested by @postmodern in comment https://github.com/rubysec/ruby-advisory-db/issues/251#issuecomment-606172546
it would be nice to update the titles/descriptions for each advisory on using NVD as a url. However, one thing I noticed is that there are no titles on NVD site. The descriptions could be updated. What do you think is the best approach @postmodern ?

[2020-04-06 02:49] #251 closed

[2020-04-06 03:24] postmodern commented on #441
Hmm let's wait on `titles` since that will require manually summarizing the description. Descriptions can be scraped from NVD (`//p[@data-testid="vuln-description"]`).

[2020-04-06 03:36] postmodern commented on #251
Renamed all `gems/*/OSVDB-*` files to their CVE equivalents. I also had to merge five duplicate advisories (OSVDB preferred to split CVEs into their multiple underlying vulnerabilities).

[2020-04-18 15:43] tleish opened #444 "ReversingLabs discovered 725 Typesquating Gems"
Original Article: [ReversingLabs: Mining for malicious Ruby gems](https://blog.reversinglabs.com/blog/mining-for-malicious-ruby-gems) (April 16, 2020)

All affected packages: https://blog.reversinglabs.com/hubfs/Blog/ruby_malicious_gems.txt

Summarized Article: [Supply-chain attack hits RubyGems repository with 725 malicious packages](https://arstechnica.com/information-technology/2020/04/725-bitc

[2020-08-13 16:12] lizrice commented on #251
Hi! is #441 the only thing that needs to be done before the license could be updated to remove OSVDB? @FionaDL is this still something you're working on or would you like some help?

[2020-08-17 02:40] FionaDL commented on #251
@lizrice it would be great to have some help. I paused working on this because the titles were not available to update. Would be happy to pass it along for now :)

[2020-08-24 13:54] FionaDL commented on #441
Hi @simar7 !  Yes, I think the idea was that since the titles are leftover from the old links to the OSVDB website that we should update the titles and descriptions to match the links that they are now pointing too. Unfortunately the https://nvd.nist.gov site doesn't seem to use titles. They do have updated descriptions though.

[2020-08-25 22:03] simar7 commented on #441
Thanks. I've created a PR here to address it https://github.com/rubysec/ruby-advisory-db/pull/456

[2020-11-09 17:13] mensfeld opened #457 "Recent Ruby CVEs are missing severity - is that intentional?"
Hey, I noticed that many of the recent Ruby related CVEs are missing severity. Is that intentional or can I fix this?

[2020-11-09 17:20] reedloden commented on #457
@mensfeld Feel free to fix. What generally happens is that the CVE gets added prior to NVD or others assigning a CVSS score. I think a script that updates all the CVSS scores based on NVD would be nice.

[2020-12-01 19:27] #457 closed

[2020-12-05 07:55] postmodern commented on #444
I would prefer that any TypoSquating or malicious gems be reported to [rubygems.org](https://rubygems.org/pages/security) immediately so they can yank them. As you've mentioned, there's issues with maintaining a list of malicious gems that have been yanked, but might still be floating around out there, but who's gem name might be later reclaimed later by a legitimate author. There's also the scena

[2020-12-05 07:55] #444 closed

[2020-12-05 08:00] postmodern commented on #438
Feel free to use [CVE-2017-17742.yml](https://github.com/rubysec/ruby-advisory-db/blob/master/rubies/ruby/CVE-2017-17742.yml) as an example and submit us a PR for CVE-2017-17790.

[2020-12-05 08:04] postmodern commented on #401
Think I can close this since we already have `ghsa: ` keys in the YAML now. :)

[2020-12-05 08:04] #401 closed

[2020-12-05 08:05] postmodern commented on #399
btw, I have plans to write an NVD library that we can use.

[2020-12-05 08:06] postmodern commented on #307
We now have `cvss_v3` keys in the YAML. :partying_face:

[2020-12-05 08:06] #307 closed

[2020-12-06 19:42] phillmv commented on #399
fun fact: we're actually in the process of backloading cvss and cwes into the gh data. maybe another month or so should be able to sync it off the github feed 🤔

[2021-02-04 19:44] postmodern opened #460 "Is the libraries/rubygems symlink still used?"
The `libraries/rubygems` symlink (pointing to `gems/rubygems-update`) seems to be preventing Windows users from cloning the repository. Could we safely remove it?
https://github.com/rubysec/bundler-audit/issues/275

[2021-02-10 00:27] #460 closed

[2021-02-10 00:27] reedloden commented on #460
I think it's fine to remove this for now... we can always revisit this at some future point if needed.

[2021-02-21 06:33] ghbren opened #461 "Vulnerability with bundler 2.2.10"
There is a vulnerability with bundler 2.2.10 that causes wrong gem versions to be installed.
Please see https://github.com/rubygems/rubygems/issues/4383

Could you add it to the DB?  Thanks.

[2021-02-21 06:47] reedloden commented on #461
I don't see where rubygems is treating that as a security issue. Can you follow the directions at https://rubygems.org/pages/security and report the issue to them? To add something to the ruby-advisory-db, we need an advisory ID such as CVE ID or GHSA ID.

[2021-03-19 22:23] reedloden commented on #461
Closing due to lack of response.

[2021-03-19 22:23] #461 closed

[2021-05-05 18:36] levberlin opened #470 "CVE-2021-22904, CVE-2021-22885, CVE-2021-22903"
Most recent Action Pack and Action Controller vulnerabilities.

[2021-05-05 21:21] reedloden commented on #470
Added in https://github.com/rubysec/ruby-advisory-db/commit/691f9dce9b6ff8f4e9dec8ea459b66c0b7037dac

Thanks!

[2021-05-05 21:21] #470 closed

[2021-05-06 07:31] oliverchang opened #471 "Shared vulnerability format for vulnerabilities"
Hi!

I work on the Google [Open Source Vulnerabilities](https://github.com/google/osv) project, and we've been working with the Go security team and other vulnerability database maintainers to try to arrive at a common JSON-based format for describing basic metadata about vulnerabilities and links between them. The goal is to make it easier for language teams to publish vulnerabilities in a machin

[2021-05-12 03:20] oliverchang commented on #471
Thank you very much for the feedback!

I added an example of a RubyGems advisory into the document.

Re changing the schema format, we're **not** necessarily asking everybody to use this format as the source of truth, only that databases export this JSON format so people can easily build ecosystem-agnostic tooling to consume vulnerabilities in all open source package ecosystems.

Regarding the for

[2021-05-18 19:17] dgollahon opened #474 "The "use this form" link in the README is broken"
I was looking into how to submit to this database and noticed that the link in the README to a form to submit is broken. This may be a known issue, but I think the link should be fixed or removed or alternate instructions proved.

Thanks!

[2021-05-26 13:52] #474 closed

[2021-05-26 13:53] phillmv commented on #474
Hey! The website's been in limbo because it's low-reward medium-effort, thank you for pointing out the link's broken. I went ahead and deleted the link for now.

[2021-05-27 10:50] JohnSmall opened #475 "commit febf9e8f404b4c8ad2860a33ca0f11e2c38e8c58 has a missing cve: field"
commit febf9e8f404b4c8ad2860a33ca0f11e2c38e8c58 by @reedloden for the Nokogiri gem doesn't include a reference for cve: and therefore cannot be excluded in config/bundler-audit.ignore

This causes very big problems in our build pipeline because all Rails projects are failing security checks because we can't exclude the advisory.

[2021-05-27 11:24] reedloden commented on #475
Can you exclude based on the GHSA? If you're running a recent version of bundler-audit, you should be able to use the GHSA ID for ignores, unless there's some bug I am not currently aware of.

[2021-05-27 11:25] reedloden commented on #475
So, specifically, try ignoring GHSA-7rrm-v45f-jp64. Let me know if that doesn't work for some reason.

[2021-05-28 09:48] JohnSmall commented on #475
Updating bundler-audit worked, on my local machine. But I have to check it works in our Jenkins pipepline. So it looks OK, but don't close the ticket just yet.

[2021-05-28 15:11] JohnSmall commented on #475
Yes it's working with the latest bundler-audit. Thanks

[2021-05-28 15:11] #475 closed

[2021-06-01 21:41] kuahyeow opened #476 "Add advisory for bindata"
Potential DoS (combined with `constantized` - see https://blog.presidentbeef.com/blog/2020/09/14/another-reason-to-avoid-constantize-in-rails/ for background) which was fixed in https://github.com/dmendel/bindata/commit/d99f050b88337559be2cb35906c1f8da49531323 as part of bindata 2.4.10

No CVE yet

[2021-06-01 22:29] reedloden commented on #476
@kuahyeow are you associated with the `bindata` project? If so, you can request a CVE via the GitHub Security Advisory process. Otherwise, I can ask GitHub to assign a CVE.

[2021-06-16 15:41] rschultheis commented on #476
Hello, I am with the GitHub Security Lab team.  We are evaluating this to see if assigning a CVE makes sense CC @reedloden .  Can someone articulate the security impact more clearly?  The linked blog article discusses the use of `constantize` creates a memory leak, but in the linked commit there is not any code change involving `constantize`.

Is the "Potential DoS" simply due to the previous impl

[2021-06-21 21:20] kuahyeow commented on #476
Hello @rschultheis, thanks for reaching out.

I think since this is public information, I can expand on the details. The issue is that it was extremely slow for certain classes in BinData to be created. For example `BinData::Bit100000`, `BinData::Bit100001`, `BinData::Bit100002`, `BinData::Bit<N>`

So this, in combination with `<user_input>.constantize` means we have a (slow) CPU-based DoS. Note t

[2021-06-23 23:43] rschultheis commented on #476
@kuahyeow yes that makes sense thanks.  I've gone ahead and submited `CVE-2021-32823` for this advisory with a CVSS of `CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:L` / low.

We have also published [GHSA-hj56-84jw-67h6](https://github.com/advisories/GHSA-hj56-84jw-67h6) for this.

[2021-06-24 00:01] rschultheis commented on #476
Also I made this PR to add this advisory to this repo: https://github.com/rubysec/ruby-advisory-db/pull/483

[2021-06-24 01:48] reedloden commented on #476
This has been added. Thanks, all!

[2021-06-24 01:48] #476 closed

[2021-06-25 04:10] oliverchang commented on #471
Hi, just following up again here!

Would you be open to supporting this format as an export of the current ruby DB? We'd be happy to help with the implementation of this, as well as collaborating to find ways to make discovering new advisories easier (as we've done for [Python](https://github.com/pypa/advisory-db)). Perhaps there are other ways we could help fund the existing maintenance effort to

[2021-06-25 06:32] postmodern commented on #471
I see one major hurdle based on the conversation in the JSON Schema Google doc: listing the impacted versions. The ruby-advisory-db uses RubyGem's version constraint syntax (ex: `~> 1.2.3, <= 1.4.0`) to specify affected version ranges. The JSON Schema prefers listing the impacted versions explicitly for RubyGems, due to RubyGems not fully supporting the SemVer version format. This would require qu

[2021-07-08 09:12] dberecz opened #487 "OSVDB in license"
In the license the usage of OSVDB is mentioned and references their license. OSVDB and OSF both shut down years ago. Is it still relevant to keep them in the license? Removing them would make the license more clear and up-to-date. Thanks a lot!

[2021-07-08 13:10] postmodern commented on #487
There has been work to remove any data that came from OSVDB (see #456). There are still 90 advisories named `OSVDB-...`, but that have no `cve: ` ID we could rename them to. Someone will need to research each advisory and find the missing CVE.

[code]

There are also 64 advisories which contain URLs to the defunct `osvdb.org` website, which should probably be removed. A PR could easily be submitte

[2021-07-13 18:50] TheDeepestSpace opened #489 "Missing CVE-2020-11023"
jquery-rails's CHANGELOG.md [mentions](https://github.com/rails/jquery-rails/blob/master/CHANGELOG.md#440) that jQuery was updated to 3.5.0 to mitigate https://github.com/advisories/GHSA-jpcq-cgw6-v4j6

[2021-07-20 05:55] #489 closed

[2021-07-20 05:56] reedloden commented on #489
Thanks for the tip!

[2021-10-05 22:58] ghbren opened #492 "New CVE YAML field for affected methods?"
Would it be possible support a yaml field for the methods affected by each vulnerability?

Almost all CVEs appears to only affect a very small subset of methods, and there is no need to upgrade the bad gems if the affected method are not used.  This new field will help us to automatically determine whether a gem upgrade is actually needed and significantly reduces code maintenance time.

[2021-10-06 15:46] postmodern commented on #492
This is a really difficult problem as not all vulnerabilities exist in a single method. Often the vulnerable method is not directly called, but called through a chain of other methods, which together lead to the vulnerability. Or the affected method is only vulnerable under certain circumstances or configurations. I feel like describing the affected methods could lead to an imprecise understanding

[2021-10-07 19:09] postmodern commented on #492
You are going to run into two major problems in the field of Static Analysis: [Graph Theory](https://en.wikipedia.org/wiki/Graph_theory) and the [Halting Problem](https://en.wikipedia.org/wiki/Halting_problem). Analyzing a program to find all possible method calls is a difficult problem, especially in a dynamic language such as Ruby where methods can be monkey-patched in, you can inject or even pr

[2021-10-07 23:04] ghbren commented on #492
Thanks again for the detailed reply. You are right, I did underestimate the problem.  It was my understanding that everything that could be transitively called would be from gems included in Gemfile.lock.  I just realized this is not true, sorry.

[2021-11-18 05:41] ermohitrathore opened #493 "Package affected versions not exist in the package version list"
Advisory: https://github.com/advisories/GHSA-q6cw-2553-7837
Package: newrelic_rpm
Version list: https://rubygems.org/gems/newrelic_rpm/versions/
Affected versions: >= 3.2.0, <= 3.5.3.23
I can not see any version '3.5.3.23' from the version list.

[2021-11-18 05:49] #493 closed

[2022-02-22 20:38] sfatsd opened #496 "bundle-audit throwing Encoding::UndefinedConversionError"
bundle-audit check start throwing Encoding::UndefinedConversionError after latest [commit](https://github.com/rubysec/ruby-advisory-db/tree/31928e51e3886c99ee59ccbedc54072c7a96470f).

`RuntimeError: error running bundle-audit-check: /etc/apollo/goodreads-www/gems/ruby/2.7.0/gems/thor-1.1.0/lib/thor/shell/basic.rb:102:in write': U+2192 from UTF-8 to US-ASCII (Encoding::UndefinedConversionError)`

I

[2022-02-23 05:50] postmodern commented on #496
What is your `$LANG` variable set to? I cannot seem to reproduce this bug with the following `Gemfile`:

[code]

[code]

[2022-02-25 21:52] sfatsd commented on #496
$LANG is set to `en_US.UTF-8` in locale.

I only get error when we run `bundle-audit check` in test suite through `Open3.capture3`. However, `$LANG` is empty in test suite environment.  Problem solved after setting `$LANG` when running `Open3.capture3` like `Open3.capture3({"LANG" => "en_US.UTF-8"}, 'bundle-audit check')`
Thanks

[2022-02-25 21:52] #496 closed

[2022-06-28 23:47] todb-r7 opened #507 "Add CVE-2021-3779, ruby-mysql"
Complete writeup here:

https://www.rapid7.com/blog/post/2022/06/28/cve-2021-3779-ruby-mysql-gem-client-file-read-fixed/

I'm not asking someone else to add this, I'll figure out this YAML syntax soon enough, but I wanted to dash off this issue before I forgot it forever, which is kind of the theme of this vuln disclosure so far.

[2022-07-11 06:03] G-Rath commented on #471
@oliverchang @postmodern just wanted to follow up on this because we're looking into adopting [`osv-detector`](https://github.com/G-Rath/osv-detector) at my work and while the GitHub Advisory Database seems to keep pretty up to date with the Ruby advisories there are occasions where this database has an advisory that doesn't make it into their database for a couple of weeks, so having this databas

[2022-07-12 21:20] #507 closed

[2022-07-14 15:36] MasterOdin opened #509 "Getting advisory message for octokit on unaffected version"
We started seeing the following when running ruby-advisory-db:

[code]

Looking at the linked advisory, as well as https://github.com/rubysec/ruby-advisory-db/blob/master/gems/octokit/CVE-2022-31072.yml, I wouldn't expect us to be getting this advisory as our version (`4.21.0`) is not one of the affected ones (`4.23.0`, `4.24.0`).

[2022-07-14 20:37] postmodern commented on #509
Ah ha, according to the advisory _only_ versions `4.23.0` and `4.24.0` were effected, and everything before `4.23.0` should be considered unaffected. Appears the `unaffected_versions` is incorrect (`> X.Y.Z, >= A.B.C` means both constraints must apply, not either or).

[2022-07-14 20:40] #509 closed

[2022-07-14 20:42] MasterOdin commented on #509
Thanks for the quick fix on this!

[2022-08-21 02:28] reedloden commented on #471
@oliverchang This was brought up to be in Vegas last week during a discussion about dependency management. We'd love to accept Google's assistance in modernizing this database and making it so there's not so much manual work. What would be good next steps for this?

[2022-08-23 07:04] oliverchang commented on #471
Thanks for getting back! What form of assistance are you looking for?

Some potential ways we could help here:
- Have a member of our team help implement the technical changes to support the OSV schema as an export format. This may take some time as currently we don't have the spare cycles.
- Help fund this work via https://sos.dev/

[2022-10-04 14:45] joshgoebel opened #516 "Missing: CVE-2018-25032"
Is this an oversight or perhaps because it's "UNDERGOING REANALYSIS"?

https://nvd.nist.gov/vuln/detail/cve-2018-25032

[2022-10-06 08:57] BigG1947 opened #517 "CVE 2022-25765 was fixed"
Hi, it's look like [CVE-2022-25765](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-25765) was fixed in [0.8.7v](https://github.com/pdfkit/pdfkit/releases).
Can i create pr with patched [CVE-2022-25765.yml](https://github.com/rubysec/ruby-advisory-db/blob/master/gems/pdfkit/CVE-2022-25765.yml)?

[2022-10-07 00:17] postmodern commented on #516
This CVE is effecting `zlib` (the C library), which ruby dynamically links against. Updating the `zlib` package via your package manager should resolve the issue. If a Ruby was statically compiled against a static version of `zlib` then that Ruby will need to be re-compiled against an updated version of `zlib`.

[2022-10-07 00:17] #516 closed

[2022-10-08 08:26] MuhammetDilmac commented on #517
It's not fixed. @postmodern
Please mark vulnerable.

https://github.com/pdfkit/pdfkit/issues/517

[2022-10-08 08:39] postmodern commented on #517
Had to confirm locally:

[code]

[code]

[code]

In terminal 1:

[code]

In terminal 2:

[code]

[2022-10-11 05:36] postmodern commented on #517
Now waiting for the maintainer to review https://github.com/pdfkit/pdfkit/pull/519

[2022-10-15 09:22] joshgoebel commented on #516
In this case it was Passenger itself which was saying IT was vulnerable and mentioned that CVE.  And since passenger is a gem it seemed strange that it wasn't reported by bundler audit, etc...

[2022-10-16 20:17] postmodern commented on #516
@joshgoebel bundler-audit only checks what's in the `Gemfile.lock`. We would have to explicitly check `Zlib.zlib_version` to get the version of the `libz` C library, and also track advisories for C libraries that Ruby uses, which is kind of scope creep. Far easier to just install the security updates from your package manager to ensure the base system is up-to-date.

[2022-10-18 19:39] rustygeldmacher commented on #517
Looks like the good pdfkit folks just released 0.8.7.2 that included the fix for this CVE

[2022-10-18 20:09] #517 closed

[2022-10-18 20:10] postmodern commented on #517
Marked `>= 0.8.7.2` as patched.

[2022-10-18 21:35] emptyflask opened #520 "Nokogiri GHSA-2qc6-mcvw-92cw requires invalid version"
The upgrade version should be `1.13.9`, not `1.13.19`

[code]

[2022-10-18 21:39] GUI commented on #520
PR to fix this here: https://github.com/rubysec/ruby-advisory-db/pull/519

[2022-10-18 23:52] #520 closed